---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Clients from "../components/Clients.astro";
import Cta from "../components/Cta.astro";

import home from '../images/home.png'

const details = {
  title1: "Blue Partners is the",
  highlight: "tech headhunting",
  title2: "company 2.0",
  p1: "Established in 2016, we specialize in providing top-notch talent solutions for the tech industry. Our team of experienced professionals has a deep understanding of the ever-evolving tech landscape, and we use this expertise to help our clients find the best talent for their organization.",
  p2: "At Blue Partners, we believe that people are the driving force behind any successful business. That's why we are committed to providing customized HR solutions that meet the unique needs of each of our clients. Whether you are looking to hire new talent, streamline your recruitment processes, or optimize your HR strategy, we are here to help.",
  logo: home
}

const features = [
  {
    name: "Headhunting",
    description: "We identify and engage passive talents that best fit the needs and ambitions of our clients, helping them to increase hiring success rate",
    icon: "user"
  },
  {
    name: "Mapping",
    description: "We provide market insights and data that will help companies to empower hiring strategies and increase people management efficacy",
    icon: "map"
  },
  {
    name: "RPO",
    description: "We assign a skilled professional to a specific TA project of the client to guarantee max efficiency and effectiveness in hiring",
    icon: "cog",
  },
  {
    name: "Coaching",
    description: "We provide our clients with dedicated training for the internal recruiters introducing best practices and technical know-how.",
    icon: "beaker"
  },
]
---

<Layout>
  <Hero details={details} />
  <div class="py-12 bg-gray-100 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2
          class="text-base text-indigo-800  font-semibold tracking-wide uppercase"
        >
          Our services
        </h2>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900  sm:text-4xl"
        >
          Take your tech team to the next level
        </p>
        <p
          class="mt-4 max-w-2xl text-xl text-gray-600  lg:mx-auto"
        >
        From successful scale-ups to multinational corporations with thousands of employees, Blue Partners offers the most efficient strategies to strengthen your tech team with long lasting value.
        </p>
      </div>

      <div class="mt-10">
        <dl
          class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10"
        >
        <Features features={features} />
        </dl>
      </div>
    </div>
  </div>
  <Clients />
  <Cta />
</Layout>


<style>
</style>