<div class="bg-gray-50 ">
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2
      class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
    >
      <span class="block ">Ready to find your next tech talent?</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">

      <div class="ml-4 lg:ml-3 inline-flex rounded-md shadow">
        <a
          href="mailto:hello@pops-tech.com"
          rel="noopener noreferrer"
          target="_blank"
          class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gradient-to-r from-indigo-800 to-fuchsia-500  md:py-4 md:text-lg md:px-10"
        >
          Contact us
        </a>
      </div>
    </div>
  </div>
</div>