---
import logo from '../images/logo.png'
---

<header class="">
  <nav class="flex items-center justify-between flex-wrap bg-white p-6 flex-row-reverse sm:flex-row">
    <div class="flex items-center sm:mr-auto text-white">
      <a href="/">
        <img class="h-10 w-10" src={logo} alt="Blue Partners">
      </a>
    </div>
    <div class="hidden sm:block w-full sm:items-center sm:w-auto">
      <div class="text-sm sm:flex-grow">
      </div>
      <div class="sm:ml-4 uppercase">
        <a href="/companies" class="block mt-4 sm:inline-block sm:mt-0 text-indigo-800 hover:text-gray-400 mr-4">
          For Companies
        </a>
        <a href="/candidates" class="block mt-4 sm:inline-block sm:mt-0 text-indigo-800 hover:text-gray-400 mr-4">
          For Candidates
        </a>
      </div>
    </div>
  </nav>


</header>

<style>

</style>